ｘ<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>掲示板</title>
</head>
<body>
    <h1>掲示板</h1>
    <u1>
        <% @comments.each do |comment| %>
        <li data-id=<%= comment.id %>"">
            <%= h comment.body %>
            <span class="editCmd" style="cursor:pointer;color:blue">[編集]</span>
            <span class="deleteCmd" style="cursor:pointer;color:red">[削除]</span>
            </li>
        <% end %>
    </u1>
    <h2>コメント</h2>
    <form method="post" action="/new">
        <label for="exampleInputEmail1">ユーザ名</label>
        <input type="text" name="user"><br>
         
        <label for="exampleInputEmail1">メッセージ</label>
        <input type="text" name="body"> <input type="submit" value="投稿！">
    </form>    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
         $('.deleteCmd').click(function(){#deleteCmdがclickされたときにfunctionを実行する
            var el = $(this).parent();
            if(confirm('本当にこのコメントを削除しますか?')){
                $.post('/delete',{
                    id:el.data('id')
                },function(){
                    el.fadeOut(800);
                });
            }
         })
        </script>
</body>
</html>

